{%extends display.main%}


{%block content%}

  <div class="f justify-center mB25">
    <div class="c8 s12 pRa10">
      <div class="slider slider-pro goldenB" id='topSlider'>

{%set topSliderPostsID = [] %}

{%set topSliderPosts = posts({"limit" : 5, "tag" : "slider"})%}
{%set defaultImageTop = url.site ~ "/static/images/homepage-v2/news-haram.jpg" %}
        <div class="sp-slides">
{%if topSliderPosts%}
{%for key, myNews in topSliderPosts%}
{%set topSliderPostsID = topSliderPostsID | merge([myNews.id]) %}
          <div class="sp-slide">
            <img class="sp-image" src="{%if myNews.meta.thumb%}{{myNews.meta.thumb}}{%else%}{{defaultImageTop}}{%endif%}" alt="{{myNews.title}}">

            <h3 class="sp-layer sp-black sp-padding" data-position="topRight" data-horizontal="10" data-vertical="5%" data-show-transition="down" data-hide-transition="right">
              <a href="{{url.here}}/{{myNews.url}}">{{myNews.title}}</a>
            </h3>

            <p class="sp-layer sp-black sp-padding s0" data-position="bottomRight" data-vertical="10" data-horizontal="2%" data-width="96%" data-show-transition="up" data-show-delay="400" data-hide-transition="down">{{myNews.excerpt}}</p>
          </div>
{%endfor%}
{%else%}
          <div class="sp-slide">
            <img class="sp-image" src="{{defaultImageTop}}" alt="{{site.title}}">
          </div>
{%endif%}
        </div>

      </div>
    </div>
    <div class="c3 sauto salavatBox">
      <div class="salavat goldenB">
        <img src="{{url.site}}/static/images/homepage-v3/salavat.jpg" alt='{%trans "O Allah, let Your Peace come upon Muhammad and the family of Muhammad"%}'>
        <div class="counter" data-salavat="{{salavatShomar}}">{{salavatShomar | fitNumber}}</div>
        <div class="mB25 fs08">{%trans "You also partake in salawat"%}</div>
        <div class="Allah sB1">
          <a href="{{url.pwd}}" data-ajaxify data-data='{"salavat" : true}' data-method='post' data-notif='{%trans "Allahouma sali ala mohamed wa ali muhammad"%}' data-notif-pos="bottomCenter" data-notif-icon='sf-heart' data-notif-image='{{url.site}}/static/images/logo/khadije.png'>{%trans "Say salawat"%} <span class="s0 m0 c0 xauto">{%trans "and press here"%}</span></a>
        </div>
      </div>
    </div>
  </div>


  <section class="f justify-center picto fs07">
{%if lang.current == 'fa' and 0%}
    <div class="c">
      <a href="{{url.kingdom}}/donate?nazr=ghadir">
        <img src="{{url.site}}/static/images/homepage-v3/donate/ghadir.png" class="we120">
        <h2>نذر عید  غدیر</h2>
      </a>
    </div>
{%endif%}
    <div class="c">
      <a href="{{url.here}}/a/service" data-direct>
        <div class="sprite-servants"></div>
        <h2>{%trans "Servants registration"%}</h2>
      </a>
    </div>
{%if false%}
    <div class="c">
      <a href="{{url.here}}/live">
        <div class="sprite-virtual"></div>
        <h2>{%trans "Virtual pilgrimage"%}</h2>
      </a>
    </div>
{%endif%}
    <div class="c">
      <a href="{{url.here}}/trip">
        <div class="sprite-travel"></div>
        <h2>{%trans "Travel request"%}</h2>
      </a>
    </div>
    <div class="c">
      <a href="{{url.here}}/a/representation" data-direct>
        <div class="sprite-deputy"></div>
        <h2>{%trans "Deputy pilgrimage"%}</h2>
      </a>
    </div>
{%if false%}
    <div class="c">
      <a href="{{url.here}}/tag/lottory">
        <div class="sprite-lottory"></div>
        <h2>{%trans "Balloting names"%}</h2>
      </a>
    </div>
{%endif%}
    <div class="c">
      <a href="{{url.here}}/mylovestory">
        <div class="sprite-mylovestory"></div>
        <h2>{%trans "My love story book"%}</h2>
      </a>
    </div>
  </section>


  <section class="billingInfo">
    <h3 class="sB3">{%trans "Join to the charity and participate in the pilgrimage reward"%}</h3>
{%if lang.current == 'fa'%}
    <a href='http://samtekhoda.tv3.ir' target="_blank"><div class="sprite-samtekhoda"></div><span class="hide">{%trans "Samte Khoda"%}</span></a>
    <p>موسسه حضرت خدیجه س با همکاری برنامه سمت خدا؛</p>
    <p>در فراق حرم یار جگر سوز شَوَد 🔸 هرکسی در دل خود شوق زیارت دارد</p>
    <p>به همت شما همه مشتاقان زیارت را به حرمهای اهل بیت علیهم السلام میرسانیم. شما هم میتوانید با هر توان مالی در ثواب زائرین قم ،مشهد،کربلا شریک باشید.</p>
    <p>قم پنجاه هزار تومان؛ مشهد دویست هزارتومان؛ کربلا یک میلیون و دویست هزار تومان</p>
    <p>جهت مشارکت هدایای خود رابه شماره کارت 5859837000064010 یا با شماره گیری کد پرداخت ازطریق تلفن همراه  <a class="btn ltr" href="tel:*733*55#">*733*55#</a> به نام  کانون فرهنگی حضرت خدیجه سلام الله علیها واریز نمایید.</p>
    <p> لطفا بعد از واریز به شماره 09127522690 پیامک بدهید و حتما بنویسید مربوط به زیارت کربلا، قم یا مشهد.</p>
{%else%}
    <p>{%trans "The financial credibility of this project is provided by cash and non-cash donations from benefactors and lovers of Ahlul-Bayt."%} {%trans "Therefore, donors and people who are willing participate in the pilgrimage plans of the Ahlul-Bayt, can pay their cash through the following methods."%}</p>
{%endif%}
    <div class="f justify-center">
      <div class="cauto s12 pRa10">
          {{block("bank_tejarat")}}
      </div>
      <div class="c pRa10">
        <form class="msg success2 quickpay f align-center" method="post">
          <div class="input">
           <input type="number" name="quickpay" placeholder='{%trans "Pay Amount"%} {%trans "Toman"%}*' title='{%trans "You can change amount of your donation"%}' id='totalAmount' required step="1000">
            <span class="addon">{%trans "Toman"%}</span>
          </div>
          <button class="btn success block">{%trans "Donate as anonymous"%}</button>
        </form>
      </div>
      <div class="c">
        <div class="msg simple donateLink f align-center">
          <a href="{{url.here}}/donate" class="btn primary">{%trans "Donate with register details"%}</a>
        </div>
      </div>
    </div>
  </section>


{%set lastPostsRecord = posts({"limit" : 10})%}

{%set defaultImage  = url.site ~ "/static/images/homepage-v2/news-haram.jpg" %}
{%if lastPostsRecord%}
  <section class="lastNews txtC mT25 mB25">
    <h3 class="sB3">{%trans "Latest News"%}</h3>

    {%set defaultImage  = url.site ~ "/static/images/homepage-v2/news-haram.jpg" %}
    <div class="goldenB f">
      <div class="c8 s12">
        <div class="preview">
{%set myI = 0 %}
{%for key, myNews in lastPostsRecord%}
  {%if myNews.id in topSliderPostsID%}
  {%else%}
          <a href="{{url.here}}/{{myNews.url}}" data-index='{{myI}}' class="f align-center justify-center {%if myI == 0%}active{%endif%}">
            <img src="{%if myNews.meta.thumb%}{{myNews.meta.thumb}}{%else%}{{defaultImage}}{%endif%}" alt="{{myNews.title}}">
          </a>
          <div class="hide">
            <p>{{myNews.excerpt}}</p>
          </div>
  {%set myI = myI + 1 %}
  {%endif%}
{%endfor%}
        </div>
      </div>
      <div class="c4 s12 listBox">
        <nav class="f f-column list">
{%set myI = 0 %}
{%for key, myNews in lastPostsRecord%}
  {%if myNews.id in topSliderPostsID%}
  {%else%}
          <a class="c f align-center justify-center {%if myI == 0%}active{%endif%}" href="{{url.here}}/{{myNews.url}}" data-index='{{myI}}'>{%if myNews.subtitle%}<span>{{myNews.subtitle}}</span> {%endif%}<span class="txtB">{{myNews.title}}</span></a>
  {%set myI = myI + 1 %}
  {%endif%}
{%endfor%}
          <a class="c txtRa archiveLink" href="{{url.here}}/blog">{%trans "Archive"%}</a>
        </nav>
      </div>
    </div>
  </section>
{%endif%}





  <section class="f justify-center picto fs09">
    <div class="c4 s">
      <a href="{{url.here}}/farahzad">
        <div class="sprite-farahzad"></div>
        <h2>{%trans "Mr.Farahzad's statement"%}</h2>
      </a>
    </div>
    <div class="c4 s shahidImani">
      <a href="{{url.here}}/shahid-mahdi-imani" class="mLR20">
        <div class="sprite-imani"></div>
        <h3 class="hide">{%trans "Shahid Mahdi Imani"%}</h3>
      </a>
    </div>
    <div class="c4 s">
      <a href="{{url.here}}/manager">
        <div class="sprite-adminContact"></div>
        <h2>{%trans "Contact with manager"%}</h2>
      </a>
    </div>
  </section>

{%endblock%}


{%block bank_resalat%}
        <div class="f msg simple bank" title='{%trans "in Resalat bank of Iran"%}' data-tippy-placement='bottom'>
          <div class="cauto f align-center pRa10"><span class="spay-64-resalat"></span></div>
          <div class="c">
            <div class="mT5">
              {%trans "Card number"%} <span class="ltr compact txtB">{{"5041-7270-4444-4444" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Account number"%} <span class="ltr compact">{{"10.6176540.2" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Iranian bank Shaba number"%} <span class="ltr compact">{{"IR330700001000226176540002" | fitNumber(false)}}</span>
            </div>
          </div>
        </div>
{%endblock%}

{%block bank_tejarat%}
        <div class="f msg simple bank" title='{%trans "Tejarat bank"%}' data-tippy-placement='bottom'>
          <div class="cauto f align-center pRa10"><span class="spay-64-tejarat"></span></div>
          <div class="c">
            <div class="mT5">
              {%trans "Card number"%} <span class="ltr compact txtB">{{"5859-8370-0006-4010" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Account number"%} <span class="ltr compact">{{"2310353054" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Iranian bank Shaba number"%} <span class="ltr compact">{{"IR 8201 8000 0000 0023 1035 3054" | fitNumber(false)}}</span>
            </div>
          </div>
        </div>
{%endblock%}

{%block bank_melli%}
        <div class="f msg simple bank" title='{%trans "Bank Melli Iran"%}' data-tippy-placement='bottom'>
          <div class="cauto f align-center pRa10"><span class="spay-64-tejarat"></span></div>
          <div class="c">
            <div class="mT5">
              {%trans "Card number"%} <span class="ltr compact txtB">{{"6037-9918-9994-4486" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Account number"%} <span class="ltr compact">{{"0116221622004" | fitNumber(false)}}</span>
            </div>
            <div>
              {%trans "Iranian bank Shaba number"%} <span class="ltr compact">{{"IR 19 0170 0000 0011 6221 6220 04" | fitNumber(false)}}</span>
            </div>
          </div>
        </div>
{%endblock%}



