{%extends display.main%}


{%block beforeHeader%}
 {{block('landPage')}}
{%endblock%}

{%block content%}

 {{block('introduction')}}

 {{block('lastNews')}}
 {{block('about')}}

 {{block('quote')}}
 {{block('law')}}

 {{block('addressMap')}}

 {{block('certificates')}}


{%endblock%}



{%block landPage%}
<div id='landing'></div>
{%endblock%}




{%block introduction%}
<section class="txtDetail" id='introduction'>
  <div class="textBox" data-aos="fade-up" data-aos-delay="100">
    <h2><a href="{{url.that}}#introduction">خدمات حسابداری</a></h2>
    <p>کسب‌وکارها در هر نوع و اندازه‌ای به اطلاعات مالی دقیق از فعالیت‌های روزانه احتیاج دارند تا بتوانند از فرصت‌ها بهره‌برداری کنند و سودآوری بیشتری داشته باشند، همچنین تهدیدات مالی رو قبل از اینکه به بحران تبدیل شوند شناسایی کنند.
    </p>
    <p class="msg info2">ما متخصصان حسابداری خود را در اختیار شما می‌گذاریم تا شما بتوانید بر ساختن یک کسب وکار قدرتمند تمرکز کنید.</p>
  </div>
</section>
{%endblock%}




{%block about%}
<section class="txtDetail" id='about'>
  <div class="cn">
    <div data-aos="zoom-in-up" data-aos-delay="200">
      <h2><a href="{{url.that}}#about">تصور غلط</a></h2>
      <p class="msg danger">تصور غلط برخی از شرکت‌ها این است که اعزام یک حسابدار به‌صورت تمام‌وقت سبب می‌شود که کارها بهتر و دقیق‌تر انجام شود و شرایط بیشتر تحت کنترل باشد.</p>
      <p> اما امروزه با گسترش ارتباطات، دیگر نیازی به حضور یک حسابدار یا مدیر مالی تمام‌وقت در شرکت نیست. شما برای بهره‌گیری از یک تیم خدمات حسابداری متشکل از افراد خبره در این زمینه می‌توانید از تخصص چندین نفر با کمترین هزینه بهره ببرید. در این حالت دپارتمان حسابداری شرکتِ شما را چندین نفر پیش می‌برند که هریک در ‌بخشی از این خدمات متخصص هستند اما در واقع هزینه نهایی کمتر از حالتی می‌شود که یک یا چند نفر به‌صورت تمام وقت به شرکت شما اعزام و مشغول به کار شوند.</p>
      <p>ما با بررسی و تحلیل وضعیت شرکت شما و همچنین تحلیل محیط صنعتی که در آن به فعالیت مشغولید، ریسک تصمیمات مالی شما را به حداقل خواهیم رساند. خدمت مشاوره مالی ما به شما کمک خواهد کرد که نه‌تنها از اشتباهات جلوگیری کنید بلکه فرصت‌های پیش‌رویتان را شناسایی و از آنها بیشترین استفاده را ببرید.</p>
      <p>با تجربه سربلندی در صدها پرونده مالیاتی با موضوعات مختلف، می‌توانیم نقشه راه مالیاتی شرکت شما به گونه‌ای ترسیم کنیم که در امن‌ترین مسیر مالیاتی حرکت کنید. همچنین با رعایت کامل قوانین مالیاتی کشور و استفاده از تمامی راهکارها و دستورالعمل‌های آن، مالیات بنگاه اقتصادی شما را به حداقل خواهیم رساند.</p>
      <p class="msg success">در هر صنفی که هستید، امور مالیاتی کسب‌وکارتان را به متخصصان موسسه خدمات مالی حسابداری ما بسپارید.</p>
    </div>
  </div>
</section>
{%endblock%}





{%block law%}
<section class="txtDetail" id='law'>
  <div class="textBox mLa25" data-aos="fade-up" data-aos-delay="100">
    <h2><a href="{{url.that}}#law">حل‌وفصل پرونده‌های مالیاتی </a></h2>
    <p>بسیاری صاحبان کسب‌وکار تصور می‌کنند اگر سازمان امور مالیاتی کشور برای آنها جریمه مالیاتی در نظر بگیرد، دیگر راه برگشتی نیست!</p>
    <p class="txtB mT25">متخصصان ما بارها ثابت کرده‌اند بسیاری از این اشتباهات را می‌توان اصلاح کرد و نتایج پرونده‌های مالیاتی را تغییر داد.</p>
    <p>اگر شما هم دچار مشکلات مالیاتی شده‌اید؛ نگران نباشید؛ ما برای رفع این مشکلات در همه مراحل کنارتان هستیم.</p>
  </div>
</section>
{%endblock%}






{%block certificates%}
<section id='certificateTile'>
  <div class="cn">
    <div class="f">
      <div class="c s12"><h3>مجوز و گواهینامه‌ها</h3></div>
      <div class="cauto s12">
       <nav>
         <a href="{{url.base}}/certificate" title='عضو رسمی انجمن حسابداران'><img src="{{url.site}}/static/images/cert/iacpa.png" alt='عضو رسمی انجمن حسابداران'></a>
         <a href="{{url.base}}/certificate" class="hide"><img src="{{url.site}}/static/images/cert/enamad1.png" alt='{%trans "Certificate"%}'></a>
         <a href="https://arvancloud.com" title='{%trans "Secured by Arvancloud"%}' target="_blank"><img src="{{url.site}}/static/images/cert/arvancloud.png" alt='{%trans "Arvancloud"%}'></a>
       </nav>
      </div>
    </div>
  </div>
</section>
{%endblock%}


{%block addressMap%}
<section class="txtDetail" id="map">
  <iframe src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;q=ermile+(Ermile)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>
{%endblock%}




{%block quote%}
<section id="quoteTile">
  <div class="cn">
   <article class="quote-person">
    <p>انجام امور مالیاتی و رفع مشکل بیمه تامین اجتماعی که حسابی داشت از ما وقت و انرژی می‌گرفت نشان‌دهنده کیفیت خدمات ارائه شده توسط شرکت حسابداری ترازسازان نفیس هست که منجر به ادامه همکاری ما شد.</p>
    <div class="author f">
     <h4 class="c"><a href="https://evazzadeh.com" target="_blank">جواد عوض زاده</a></h4>
     <abbr class="cauto os"><a href="https://ermile.com" target="_blank">مدیر عامل ارمایل</a></abbr>
    </div>
   </article>
 </div>
</section>
{%endblock%}


{%block lastNews%}
<section id='lastNewsBox' class="news">
  <h2 class="hide">{%trans "Last news"%} {{site.title}}</h2>
  <div class="cn">
    <div class="f">

      <div class="c6 s12 pRa25">
        <article class="wide">
          <a href="#"><img src="{{url.site}}/static//images/homepage/hostel.jpg" alt="اسکان رایگان ۱۱۰۰۰ زائر اولی در قم"></a>
          <h2><a href="#">اسکان رایگان ۱۱۰۰۰ زائر اولی در قم</a></h2>
          <p>از ابتدای فعالیت این مؤسسه تا کنون 11 هزار زائرکه عنوان زیارت اولی دارند، از سراسر کشور توانسته اند به حرم حضرت معصومه سلام الله علیها مشرف شوند و در این زائر سرا اسکان پیدا کنند.</p>
        </article>
      </div>

      <div class="c6 s12">
        <article class="f mB25">
          <div class="c">
            <h3><a href="{{url.base}}/news/sample">اجرای طرح زیارت اولی‌های حرم حضرت معصومه (س)</a></h3>
            <p class="s0 m0">حجت‎الاسلام ثباتی با اشاره به نحوۀ شرکت در طرح زیارت اولیهای حرم حضرت معصومه (س) گفت: علاقه‎مندان زیارت حضرت با تشکیل کاروانی ۴۰ نفره به مدت دو روز و دو شب میهمان سفرۀ کریمۀ اهل‎‎بیت (ع) خواهند بود.</p>
          </div>
          <div class="c4 txtRa">
            <a href="{{url.base}}/news/sample"><img src="{{url.site}}/static//images/homepage/news-sabati.jpg" alt="اجرای طرح زیارت اولی‌های حرم حضرت معصومه (س)"></a>
          </div>
        </article>

        <article class="f mB25">
          <div class="c">
            <h3><a href="#">پذیرش ۴۰۰ بانوی زیارت اولی در آستان بانوی کرامت</a></h3>
            <p class="s0 m0">۴۰۰ بانوی زیارت اولی در هفته جاری و ایام منتسب به حضرت فاطمه معصومه سلام الله علیها به زیارت آستان مقدس بانوی کرامت مشرف شدند.</p>
          </div>
          <div class="c4 txtRa">
            <a href="#"><img src="{{url.site}}/static//images/homepage/news-haram.jpg" alt="پذیرش ۴۰۰ بانوی زیارت اولی در آستان بانوی کرامت"></a>
          </div>
        </article>

        <article class="f mB25">
          <div class="c">
            <h3><a href="#">امكان زیارت رایگان حضرت معصومه(س) برای زائراولی ها</a></h3>
            <p class="s0 m0">كسانی كه تا به حال به زیارت حضرت فاطمه معصومه(س) مشرف نشده اند، نام و نام خانوادگی خود را به شماره ۰۹۹۰۳۵۱۱۲۹۱ پیامك كنند تا شرایط سفر به زیارت آن حضرت (س) برایشان فراهم شود.</p>
          </div>
          <div class="c4 txtRa">
            <a href="#"><img src="{{url.site}}/static//images/homepage/news-haram-view.jpg" alt="امكان زیارت رایگان حضرت معصومه(س) برای زائراولی ها"></a>
          </div>
        </article>

      </div>
    </div>
  </div>
</section>
{%endblock%}


