 <footer id='tfooter'>
  <div class="cn">
    <div class="f middle">
      <div class="c4 s12 pRa25">
        <h3><a href="{{url.base}}">{{site.title}}</a></h3>
        <p>{{site.desc}}</p>
{%if not login.id%}
      <div class="cauto s12 os txtRa">
        <a href="{{url.base}}/enter" data-direct class="btn outline primary pRa10">{%trans "Enter"%}</a>
      </div>
{%endif%}
      </div>

      <div class="c4 s12 pRa25">
         <h4><a href="{{url.base}}">{{site.slogan}}</a></h4>
         <nav>
          <a href="{{url.base}}/about">{%trans "About"%}</a>
          <a href="{{url.base}}/contact">{%trans "Contact"%}</a>
         </nav>
      </div>

      <div class="c4 s12 pRa25">
         <h4>تماس با ما</h4>
         <nav>
          <a href="tel:09127598846">{%trans "Mobile"%} <span class="floatRa txtB">{{"9127598846" | fitNumber('mobile')}}</span></a>
          <a href="tel:09100967907">{%trans "Mobile"%} <span class="floatRa txtB">{{"9100967907" | fitNumber('mobile')}}</span></a>
          <a href="mailto:taraztax@gmail.com">{%trans "Email"%} <span class="floatRa txtB">TarazTax@gmail.com</span></a>
         </nav>
      </div>

    </div>

    <div class="bottom f">
     <div class="c s12">تمام حقوق این وب‌سایت متعلق به <a href="{{url.base}}">{{site.title}}</a> می‌باشد.</div>
     <div class="cauto os s12" id='ermile'><a href="https://ermile.com" target='_blank'>{%trans "Developed by Ermile"%}</a></div>
    </div>
  </div>
 </footer>