 <header class='site-header' data-scroll>
  <div class="cn">
    <div class="title">
     <h1>
      <a href='{{url.base}}' tabindex='1'><span class="bold" title="{{site.desc}}">{{site.title}}</span></a>
     </h1>
     <h2><a href='{{url.base}}' tabindex='2'>{{site.desc}}</a></h2>
    </div>


   <nav class="floatRa">
    <a href="{{url.base}}/about">{%trans "About"%}</a>
    <a href="{{url.base}}/contact" class="btn">{%trans "Contact"%}</a>
   </nav>
  </div>
  <a class="logo" href='{{url.base}}' tabindex='-1'>
   <img src='{{url.site}}/static/images/logo.png' alt='{{site.title}} | {{site.desc}}'>
  </a>
 </header>

<div id="sitesidebarHandler"></div>
<aside id='sitesidebar' class="unselectable scr">
  <ul class="sidenav" data-xhr="sidenav">
    <li><a tabindex='-1' href="{{url.base}}">{{site.title}}</a></li>
    <li><a tabindex='-1' href="{{url.base}}/about">{%trans "About"%}</a></li>
    <li><a tabindex='-1' href="{{url.base}}/contact">{%trans "Contact"%}</a></li>
  </ul>
</aside>
