 <header class='site-header' data-scroll>
  <div class="cn">
    <div class="f">
      <div class="c title">
       <h1 class="compact">
        <a href='{{url.base}}' tabindex='1' class="txtB" title="{{site.desc}}">{{site.title}}</a>
       </h1>
       <h2 class="compact pLa10"><a href='{{url.base}}' tabindex='2'>{{site.slogan}}</a></h2>

      </div>
      <div class="cauto os">
        <nav>
        <a href="{{url.base}}/about">{%trans "About"%}</a>
        <a href="{{url.base}}/contact" class="btn">{%trans "Contact"%}</a>
        </nav>
      </div>
    </div>
  </div>
 </header>

<div id="sitesidebarHandler"></div>
<aside id='sitesidebar' class="unselectable scr">
  <ul class="sidenav" data-xhr="sidenav">
    <li><a tabindex='-1' href="{{url.base}}">{{site.title}}</a></li>
    <li><a tabindex='-1' href="{{url.base}}/about">{%trans "About"%}</a></li>
    <li><a tabindex='-1' href="{{url.base}}/contact">{%trans "Contact"%}</a></li>
  </ul>
</aside>
