{%block donateProduct%}

{%if  paymentVerifyMsg %}
<div class="msg txtC {%if  paymentVerifyMsgTrue %}success{%else%}danger{%endif%}">{{ paymentVerifyMsg}}</div>
{%endif%}

<div class="f">
 <div class="c4 pRa10">
{{block ('donateFormProduct')}}
 </div>
 <div class="c8">
{{block ('payProductBox')}}
 </div>
</div>
{%endblock%}


{%block donateFormPay%}


<div class="f justify-center">
  <div class="cbox c5 s12 fs12">
{%if  paymentVerifyMsg %}
<div class="msg txtC {%if  paymentVerifyMsgTrue %}success{%else%}danger{%endif%}">{{ paymentVerifyMsg}}</div>
{%endif%}
    <form method="post">

      <div class="f">
        <div class="c pRa5">{{block ('iFullname')}}</div>
        <div class="c">{{block ('iMobile')}}</div>
      </div>
      <input type="hidden" name="username" value="">
      {{block ('iNiyat') }}
      {{block ('iAmount') }}
      {{block ('iWay') }}
      {{block ('iDonersList')}}
      {{block ('iDirectPay')}}
      {{block ('iPayWay')}}
      {{block ('ipay')}}
    </form>
  </div>

</div>
{{block ('donateArchive')}}


{%endblock%}

{%block iPayWay%}

  <div class="radioGateway">
   <input type="radio" name="bank" value="asanpardakht" id="asanpardakht" checked>
   <label for='asanpardakht' class="spay-64-asanpardakht"></label>
  </div>

  <div class="radioGateway">
   <input type="radio" name="bank" value="payir" id="payir">
   <label for='payir' class="spay-64-payir"></label>
  </div>

  <div class="radioGateway">
   <input type="radio" name="bank" value="ZarinPal" id="ZarinPal">
   <label for='ZarinPal' class="spay-64-zarinpal"></label>
  </div>


{%endblock%}



{%block donateFormProduct%}
 <form method="post" class="cbox">
   {{block ('iFullname')}}
   {{block ('iMobile')}}
   {{block ('iEmail')}}
   <input type="hidden" name="username" value="">
   {{block ('iNiyat') }}
   {{block ('iAmountLock') }}
   {{block ('ipay')}}
 </form>

{%endblock%}



{%block donateArchive%}
{%if donateArchive %}
<div class="f justify-center">
  <div class="cbox c5 s12">
    <h4>{%trans "List of last success donations"%}</h4>
{%for key, value in donateArchive%}
    <p class="msg success2">{{value.date | tdate("Y/m/d H:i") }} <span class="floatRa">{{value.plus | number_format | fitNumber}}</span></p>
{%endfor%}
  </div>
</div>

{%endif%}
{%endblock%}



{%block payProductBox%}

{%if need%}
  <div class="cbox donateProduct">
    <div class="f">
      {%for key, value in need%}
      <div class="c4 s12">
         <div class="vcard green mA5">
                  {%if value.fileurl%}
            <img src="{{value.fileurl}}">
          {%else%}
            <img src="{{url.site}}/static/siftal/images/default/image.png">
          {%endif%}
            <div class="content">
              <div class="header">{{value.title}}</div>
              <div class="meta">
                <span>{%trans "Requested"%} {{value.request | number_format | fitNumber}}</span>
                <span class="badge">{{value.amount | number_format | fitNumber}} {%trans "Toman"%}</span>
              </div>
            </div>
            <div class="footer">
              <div class="input">
               <input type="number" name="{{value.id}}" placeholder='{%trans "Your help"%}' min='1' title='{%trans "Enter a valid number"%}' data-price='{{value.amount}}'>
               <span class="addon">{{value.amount | number_format | fitNumber}}</span>
              </div>

            </div>
          </div>
      </div>
      {%endfor%}

    </div>
  </div>
{%endif%}
{%endblock%}





{%block ipay%}
<button class="btn primary block mT25 mB10">{%trans "Pay"%}</button>
{%endblock%}



{%block iName%}
<label for='fname'>{%trans "First name"%}</label>
<div class="input">
 <input type="text" name="firstname" placeholder='{%trans "Your name"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname' autofocus>
</div>
{%endblock%}


{%block iFullname%}
<label for='ffamily'>{%trans "Full name"%}</label>
<div class="input">
 <input type="text" name="fullname" placeholder='{%trans "Full name"%}' maxlength='50' pattern=".{1,50}" title='{%trans "Enter a valid last name"%}' id='ffamily' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.displayname}}'{%endif%}>
</div>
{%endblock%}





{%block iMobile%}
<label for='fmobile'>{%trans "Mobile"%}</label>
<div class="input">
 <input type="tel" name="mobile" placeholder='{%trans "Mobile"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid mobile"%}' id='fmobile' {%if user.permission == 'admin' or user.permission == 'supervisor'%}{%else%} value='{{user.mobile}}'{%endif%}>
</div>
{%endblock%}



{%block iEmail%}
<label for='femail'>{%trans "Email"%}</label>
<div class="input">
 <input type="email" name="email" placeholder='{%trans "Email"%}' maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid email"%}' id='femail' value='{{user.email}}'>
</div>
{%endblock%}





{%block iNiyat%}
<label for='fniyat'>{%trans "Intent"%}</label>
<div class="input">
 <input type="text" name="niyat" placeholder='{%trans "Intention to donate this fee"%}' maxlength='50' pattern=".{1,50}" title='{%trans "Enter a valid niyat"%}' id='fniyat'>
</div>
{%endblock%}



{%block iAmount%}
<label for='totalAmount'>{%trans "Pay Amount"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Pay Amount"%} {%trans "Toman"%}*' title='{%trans "Enter a valid amount"%}' id='totalAmount' required>
  <span class="addon">{%trans "Toman"%}</span>
</div>
{%endblock%}


{%block iAmountLock%}
<label for='totalAmount'>{%trans "Total Pay Amount"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
 <input type="number" name="amount" placeholder='{%trans "Pay Amount"%}' id='totalAmount' required readonly>
</div>
{%endblock%}


{%block iDonersList%}
<label class="mT20">{%trans "Show in public doners list?"%} <a href="{{urlRaw}}/doners" target="_blank">{%trans "Check doners list"%}</a></label>
 <div class="c radio1">
  <input type="radio" id="r-yes" name="doners" value="yes" checked>
  <label for="r-yes">{%trans "Yes, show my name and price"%}</label>
 </div>

 <div class="c radio1 black">
  <input type="radio" id="r-no" name="doners" value="no">
  <label for="r-no">{%trans "No, Show as anonymous"%}</label>
 </div>
{%endblock%}


{%block iDirectPay%}
{%if user.permission == 'admin' or user.permission == 'supervisor'%}
 <div class="switch1 mT20">
 <input type="checkbox" name="manualPay" id="manualPay">
 <label for="manualPay"  data-on='{%trans "Manual"%}' data-off='{%trans "Normal"%}'></label>
 <label for="manualPay">{%trans "Admin direct pay"%}</label>
</div>
{%endif%}
{%endblock%}


{%block iWay%}
<label>{%trans "Spending method"%}</label>

{%if wayList|length < 6%}

{%for key, myWay in wayList%}
 <div class="radio1 green">
  <input type="radio" id="r-{{myWay}}" name="way" value="{{myWay}}">
  <label for="r-{{myWay}}">{%trans myWay%}</label>
 </div>
{%endfor%}

{%else%}

<div class="input">
 <select name="way" class="select">
   <option value="">{%trans "Please select one item"%}</option>
   {%for key, value in wayList%}
    <option value="{{value}}">{{value}}</option>
   {%endfor%}
 </select>
</div>

{%endif%}

{%endblock%}


