 <footer id='tfooter'>
  <div class="cn">
    <div class="f top">
      <div class="c s12"><h3><a href="{{url.base}}">{{site.title}}؛ {{site.desc}}</a></h3></div>
{%if not login.id%}
      <div class="cauto s12 os txtRa">
        <a href="{{url.base}}/enter" data-direct class="btn outline primary pRa10">{%trans "Enter"%}</a>
        <a href="{{url.base}}/enter/signup" data-direct class="btn outline primary pRa10">{%trans "Signup"%}</a>
      </div>
{%endif%}

    </div>
    <div class="f middle">
      <div class="c3 s12 pRa25">
        <p>موسسه‌ی فرهنگی هنری حضرت خدیجه در سال ۱۳۹۴ با هدف توسعه‌ی فرهنگ زیارت اهل بیت علیهم السلام تاسیس گردید. و با دو اولویت زیارت اهل بیت و احیای سنن فراموش شده از قبیل قربانی، اطعام غدیر و... فعالیت خود را ادامه داده است.</p>
      </div>

      <div class="c3 s12 pRa25">
         <h4><a href="{{url.base}}">{{site.title}}</a></h4>
         <nav>
          <a href="{{url.base}}/about">{%trans "About"%}</a>
          <a href="{{url.base}}/mission">{%trans "Misson & Target"%}</a>
          <a href="{{url.base}}/vision">{%trans "Vision"%}</a>
          <a href="{{url.base}}/honors">{%trans "Honors"%}</a>
          <a class="hide" href="{{url.base}}/faq">{%trans "FAQ"%}</a>
          <a href="{{url.base}}/contact">{%trans "Contact"%}</a>
         </nav>
      </div>

      <div class="c3 s12 pRa25">
         <h4>کمک</h4>
         <nav>
          <a href="{{url.base}}/donate">{%trans "Donate"%}</a>
          <a href="{{url.base}}/doners">{%trans "Doners"%}</a>
         </nav>
      </div>

      <div class="c3 s12 pRa25">
         <h4>درخواست تشرف</h4>
         <nav>
          <a href="{{url.base}}/a/trip" data-direct>ثبت‌نام تشرف انفرادی</a>
          <a href="{{url.base}}/a/group" data-direct>{%trans "Register for group trip"%}</a>
         </nav>
         {%include template.social%}
      </div>
    </div>

    <div class="bottom f">
     <div class="c s12">تمام حقوق این وب‌سایت متعلق به <a href="{{url.base}}">{{site.title}}</a> سلام الله علیها می‌باشد.</div>
     <div class="cauto os s12" id='ermile'><a href="https://ermile.com" target='_blank'>{%trans "Developed by Ermile"%}</a></div>
    </div>
  </div>
 </footer>